@keyframes welcome-anim-h1 {
    0% {
        padding-bottom: 100vh;
    }
    100% {
        padding-bottom: 15vh;
    }
}

h3 {
    margin-top: 40vh;
    margin-bottom: 30vh;
}

.mid-title {
    font-size: 0.7em;
    color: red;
}

.grid-cont2 {
    margin: 0 15%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.icon:link,
.icon:visited {
    color: #fff;
    font-size: 10em;
}
.icon:hover,
.icon:active {
    color: red;
}

@media only screen and (max-width: 900px) {
    .grid-cont2 {
        margin: 0 15%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 35%);
    }
}