@keyframes welcome-anim-h1 {
    0% {
        padding-bottom: 100vh;
    }
    100% {
        padding-bottom: 15vh;
    }
}

.mid-title {
    font-size: 0.7em;
    color: red;
}

.btn-code {
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-item:nth-child(even) > div {
    display: flex;
    flex-direction: row-reverse;
}

.tools {
    font-weight: bold;
    font-size: 1.1rem;
    color: red;
}