
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */